

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.box{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box .circle1{
    height:100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}
.box .circle2{
    height:100px;
    width: 100px;
    background-color: pink;
    border-radius: 50%;
}